<!-- Footer Section Starts Here -->
<footer class="footer-bg footer">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 ftr-block">
            <h4>About</h4>
            <a href="#">Company</a>
            <a href="#">Jobs</a>
            <a href="#">Press</a>
            <a href="#">Engineering</a>
         </div>
         <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 ftr-block">
            <h4>Team Solutions</h4>
            <a href="#">Marketing</a>
            <a href="#">Project Management</a>
            <a href="#">Managers</a>
         </div>
         <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 ftr-block">
            <h4>Apps</h4>
            <a href="#">Intigrations</a>
            <a href="#">iOS</a>
            <a href="#">Android</a>
         </div>
         <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 ftr-block">
            <h4>Support</h4>
            <a href="#">Customer Success</a>
            <a href="#">Terms &amp; Privacy</a>
            <a href="#">Contact Us</a>
            <a href="#">Developers</a>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bdr margin-top-20"></div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ftr-copy margin-top-10">&copy;2016ember.com</div>
      </div>
   </div>
</footer>
<!-- Footer Section Starts Here -->